{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-section-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="fw-semibold typo-body-1 mb-2 eyebrow"><span class="orange-600">//</span>&nbsp;About Infratex</p>
                <p class="fw-bold typo-heading-1 headline mb-0">Geosynthetic Solutions<br/> in Australia</p>
            </div>
        </div>
    </div>
</div>

<div class="container text-section-1 small-padding">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12">
            <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;Geosynthetic Solutions</p>
            <p class="neutral-600 fw-bold typo-heading-4 mb-0">Pioneering the Future of Geosynthetic<br/> Solutions in Australia</p>
            <p class="neutral-500 typo-body-1 mt-3 lh-base mb-0">
                Welcome to Infratex, where we are dedicated to pioneering advancements in the geosynthetic industry. As a leading geosynthetic supplier in Australia, we take pride in offering innovative, high-quality products designed to meet the challenges of modern civil engineering, environmental management, and construction.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="h-divider"></div>
</div>

<div class="text-image-section-1 margin-bottom-1">
    <div class="image-bg w-100 d-block d-lg-none">
        <img src="{% static 'assets/images/image1.png' %}" class="w-100" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-image-wrapper">
                    <div class="image-bg d-none d-lg-block">
                        <img src="{% static 'assets/images/image1.png' %}" alt="image">
                    </div>
                    <div class="card">
                        <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;Our Journey</p>
                        <p class="neutral-600 fw-bold typo-heading-4 mb-0 headline">From Humble Beginnings to Industry Leaders</p>
                        <p class="neutral-500 typo-body-1 lh-base mb-0 copy">
                            Founded with the vision to revolutionize the geosynthetic landscape, Infratex has grown to become a trusted partner for contractors, engineers, and environmental specialists across Australia. Our commitment to quality and innovation has set new benchmarks in geosynthetic supplies, ranging from Geogrids and Geosynthetic Clay Liners to Geocells and Geotextiles.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-image-section-1 right-content margin-bottom-2">
    <div class="image-bg w-100 d-block d-lg-none">
        <img src="{% static 'assets/images/image2.png' %}" class="w-100" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-image-wrapper">
                    <div class="image-bg d-none d-lg-block">
                        <img src="{% static 'assets/images/image2.png' %}" alt="image">
                    </div>
                    <div class="card">
                        <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;What Sets Us Apart</p>
                        <p class="neutral-600 fw-bold typo-heading-4 mb-0 headline">Innovation and Quality</p>
                        <p class="neutral-500 typo-body-1 lh-base mb-0 copy">
                            At Infratex, we never compromise on quality. Every product we offer, including our flagship lines like InfraGrid, InfraClay, InfraCell, and InfraThread, undergoes rigorous testing to ensure they meet or exceed industry standards. Our focus on research and development also allows us to continually push the boundaries of what’s possible in the geosynthetic industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="icon-text-card-section-1 grid-2 margin-bottom-2">
    <div class="container">
        <div class="default-grid">
            <div class="card-wrapper">
                <div class="card">
                    <div class="icon">
                        <img src="{% static 'assets/icons/eye-2-line.svg' %}" width="40px" height="40px" alt="eye">
                    </div>
                    <p class="neutral-500 fw-semibold eyebrow mb-0 typo-body-1">Our Mission</p>
                    <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Building Sustainable Solutions for Tomorrow</p>
                    <p class="typo-body-1 neutral-500 lh-base copy">Sustainability is more than just a buzzword for us; it’s a guiding principle. We understand the importance of creating products that not only perform exceptionally but also have a minimal environmental impact. Through advanced engineering and sustainable practices, we aim to contribute to projects that stand the test of time while respecting our planet.</p>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <div class="icon">
                        <img src="{% static 'assets/icons/shake-hands-line.svg' %}" width="40px" height="40px" alt="shake-hands-line">
                    </div>
                    <p class="neutral-500 fw-semibold eyebrow mb-0 typo-body-1">Your Partner in Success</p>
                    <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Why Choose Infratex</p>
                    <p class="typo-body-1 neutral-500 lh-base copy">Choosing Infratex means opting for a partner committed to your project's success. With our specialized team of experts, we provide comprehensive support from initial consultation to project completion. Our track record of successful projects and satisfied clients speaks for itself.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-link-section-1">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12 text-center px-3">
                <p class="neutral-600 headline mb-0">Unlock the Potential of the Ground Beneath You</p>
                <p class="neutral-500 copy px-3">Your premier geosynthetics supplier in Australia. Take the first step towards innovative ground solutions today.</p>
                <a role="button" href="/products/contact" class="primary-btn">Contact Us</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
