{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container contact-section margin-bottom-2">
    <div class="default-grid">
        <div class="col-span-full col-lg-span-6 pr-lg-4">
            <p class="fw-semibold neutral-500 typo-body-1 mb-2"><span class="orange-600">//</span>&nbsp;Contact Us</p>
            <h1 class="fw-bold typo-heading-3 neutral-600 mb-4">Contact Infratex - Request a Geosynthetic Quote</h1>
            <p class="typo-body-1 neutral-500 lh-base mb-0">When you contact Geosynthetics Australia we strive to give
                you
                the best customer service possible. Our business is built on trust. We seek to provide the best possible
                advice and deliver the best possible solution for our client’s needs.</p>
            <div class="contact-information">
                <div class="contact-information-row">
                    <img src="{% static 'assets/icons/phone.svg' %}" alt="phone">
                    <span class="typo-body-2 neutral-600 fw-semibold">03 8640 0958</span>
                </div>
                <div class="contact-information-row">
                    <img src="{% static 'assets/icons/mail-fill.svg' %}" alt="mail">
                    <span class="typo-body-2 neutral-600 fw-semibold">sales@infratex.com.au</span>
                </div>
                <div class="contact-information-row">
                    <img src="{% static 'assets/icons/abn-fill.svg' %}" alt="abn">
                    <span class="typo-body-2 neutral-600 fw-semibold">49 650 876 387</span>
                </div>
                <div class="contact-information-row">
                    <img src="{% static 'assets/icons/time-fill.svg' %}" alt="time">
                    <span class="typo-body-2 neutral-600 fw-semibold">Mon – Fri (09:00 – 17:00)</span>
                </div>
            </div>
            <div class="h-divider-2 d-lg-block d-none"></div>
            <div class="our-clients-block d-lg-block d-none">
                <p class="fw-semibold neutral-500 typo-body-1 title"><span class="orange-600">//</span>&nbsp;Our Clients
                </p>
                <div class="supplier-grid">
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-1.png' %}" alt="supplier">
                    </div>
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-2.png' %}" alt="supplier">
                    </div>
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-3.png' %}" alt="supplier">
                    </div>
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-4.png' %}" alt="supplier">
                    </div>
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-5.png' %}" alt="supplier">
                    </div>
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-6.png' %}" alt="supplier">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-full col-lg-span-6">
            <iframe id="myIframe" height='900px' width='100%' frameborder='0' allowTransparency='true' scrolling='auto' src='https://creatorapp.zohopublic.com.au/geolink/quote-ninja/form-embed/Product_Enquiry_Form/EbJkYV8jtrDUGQJgeMu5Q3TnjbjPPbZ4WwDkpBbwsAbHtXFVOHn48CERpTpGkDKYBu37Otn8hhDebCJrh0venZXMtQeV4Ju3AsRt?Lead_Channel=Website%20Infratex&What_product_are_you_interested_in={{ product | default_if_none:"" }}'></iframe>
            <div class="our-clients-block d-lg-none d-block">
                <p class="fw-semibold neutral-500 typo-body-1 title"><span class="orange-600">//</span>&nbsp;Our Clients
                </p>
                <div class="supplier-grid">
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-1.png' %}" alt="supplier">
                    </div>
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-2.png' %}" alt="supplier">
                    </div>
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-3.png' %}" alt="supplier">
                    </div>
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-4.png' %}" alt="supplier">
                    </div>
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-5.png' %}" alt="supplier">
                    </div>
                    <div class="supplier-block">
                        <img src="{% static 'assets/images/supplier-6.png' %}" alt="supplier">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="location-section bg-neutral-300 margin-bottom-2">
    <div class="container">
        <div class="default-grid">
            <div class="col-span-full">
                <p class="fw-semibold neutral-500 typo-body-1 mb-2"><span class="orange-600">//</span>&nbsp;Our Offices
                </p>
                <p class="fw-bold typo-heading-3 neutral-600 mb-0">Find Us Here</p>
            </div>
            <div class="col-span-full col-lg-span-6">
                <div class="d-flex flex-column location-map-item">
                    <div class="location-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.780930107214!2d144.9534250761163!3d-37.818599971974386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4de5cbf4f9%3A0x49037a2a199c9f6c!2sRegus%20-%20Melbourne%2C%20567%20Collins%20Street!5e0!3m2!1sen!2sph!4v1706238406273!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location-content d-flex flex-column flex-fill">
                        <p class="title neutral-600 fw-bold mb-2 mb-lg-3">Melbourne</p>
                        <p class="caption typo-caption neutral-500 mb-0">Level 21, 567 Collins Street, VIC 3000</p>
                        <div class="d-flex align-items-center mt-auto">
                            <div class="link-arrow ms-auto">
                                <img src="{% static 'assets/icons/arrow-top-right.svg' %}" width="24px" height="24px" alt="arrow-top-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-full col-lg-span-6">
                <div class="d-flex flex-column location-map-item">
                    <div class="location-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.0003612833475!2d153.02020647625247!3d-27.469248116688433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a047004ed53%3A0x27f48b3fd87f2ac5!2sNorthbank%20Plaza%2C%20Level%2022%2F69%20Ann%20St%2C%20Brisbane%20City%20QLD%204000%2C%20Australia!5e0!3m2!1sen!2sus!4v1697012484608!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location-content d-flex flex-column flex-fill">
                        <p class="title neutral-600 fw-bold mb-2 mb-lg-3">Brisbane</p>
                        <p class="caption typo-caption neutral-500 mb-0">Northbank Plaza, Level 22/69 Ann St, Brisbane City QLD 4000</p>
                        <div class="d-flex align-items-center mt-auto">
                            <div class="link-arrow ms-auto">
                                <img src="{% static 'assets/icons/arrow-top-right.svg' %}" width="24px" height="24px" alt="arrow-top-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-link-section-1">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12 text-center px-3">
                <p class="neutral-600 headline mb-0">Unlock the Potential of the Ground Beneath You</p>
                <p class="neutral-500 copy px-3">Your premier geosynthetics supplier in Australia. Take the first step towards innovative ground solutions today.</p>
                <a role="button" href="/contact" class="primary-btn">Contact Us</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% if product %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        scrollToIframe();
      });
    </script>
  {% endif %}
{% endblock %}
