{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero"></div>

<div class="container text-section-1">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12">
            <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;Who Are We</p>
            <p class="neutral-600 fw-bold typo-heading-4 mb-0">Leading Geosynthetic Supplier in Australia</p>
            <p class="neutral-500 typo-body-1 mt-3 lh-base mb-0">At Infratex, we specialize in providing state-of-the-art geosynthetic solutions to meet the ever-evolving
                demands of construction, environmental, and civil engineering projects. As a trusted geosynthetic
                supplier in Australia, our product line is designed to deliver durability, performance, and innovation.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="h-divider"></div>
</div>

<div class="text-image-section-1 margin-bottom-1">
    <div class="image-bg w-100 d-block d-lg-none">
        <img src="{% static 'assets/images/image1.png' %}" class="w-100" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-image-wrapper">
                    <div class="image-bg d-none d-lg-block">
                        <img src="{% static 'assets/images/image1.png' %}" alt="image">
                    </div>
                    <div class="card">
                        <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;Our Quality</p>
                        <p class="neutral-600 fw-bold typo-heading-4 mb-0 headline">Unmatched Quality in Geosynthetic Supplies</p>
                        <p class="neutral-500 typo-body-1 lh-base mb-0 copy">
                            Quality is at the core of what we do. Our diverse range of geosynthetic supplies includes Geogrids (InfraGrid), Geosynthetic Clay Liners (InfraClay), Geocells (InfraCell), Geotextiles (InfraThread), and Geocomposite Drains (InfraDrain). Each product is meticulously engineered to ensure superior performance and longevity, meeting and exceeding industry standards.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="icon-text-card-section-1">
    <div class="container">
        <div class="default-grid">
            <div class="card-wrapper">
                <div class="card">
                    <div class="icon">
                        <img src="{% static 'assets/icons/menu-search-line.svg' %}" width="40px" height="40px" alt="menu-search-line">
                    </div>
                    <p class="typo-heading-7 neutral-600 fw-bold headline">Pushing Boundaries</p>
                    <p class="typo-body-1 neutral-500 lh-base">Innovation drives us. Our dedicated R&D team works tirelessly to improve existing products and
                        develop new solutions. The aim? To offer you geosynthetic products that not only solve current
                        challenges but are also future-ready.</p>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <div class="icon">
                        <img src="{% static 'assets/icons/leaf-line.svg' %}" width="40px" height="40px" alt="menu-search-line">
                    </div>
                    <p class="typo-heading-7 neutral-600 fw-bold headline">Enginered for the Long Haul</p>
                    <p class="typo-body-1 neutral-500 lh-base">With a focus on sustainability, our products are designed to have a minimal environmental impact while providing maximum efficiency. Our capabilities in delivering sustainable solutions make us a preferred partner for eco-conscious projects.</p>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <div class="icon">
                        <img src="{% static 'assets/icons/chat-settings-line.svg' %}" width="40px" height="40px" alt="menu-search-line">
                    </div>
                    <p class="typo-heading-7 neutral-600 fw-bold headline">Meeting Your Specific Needs</p>
                    <p class="typo-body-1 neutral-500 lh-base">Every project is unique, and we understand that. Our team of experts is capable of offering customized solutions to meet your specific project requirements, ensuring optimal performance and cost-effectiveness.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-link-section-1">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-12 text-center">
            <p class="neutral-600 fw-medium typo-heading-3">Embrace Your Journey to Success with Action</p>
            <p class="neutral-500 typo-body-2">Your Journey to Success Begins Here: Take the Next Step towards<br/>Achieving Your Goals</p>
            <a role="button" href="#" class="primary-btn">Get Enquiry</a>
        </div>
    </div>
</div>

{% endblock %}