{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero"></div>

<div class="container text-section-1">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12">
            <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;Who Are We</p>
            <p class="neutral-600 fw-bold typo-heading-4 mb-0">Leading Geosynthetic Supplier in Australia</p>
            <p class="neutral-500 typo-body-1 mt-3 lh-base mb-0">At Infratex, we specialize in providing state-of-the-art geosynthetic solutions to meet the ever-evolving
                demands of construction, environmental, and civil engineering projects. As a trusted geosynthetic
                supplier in Australia, our product line is designed to deliver durability, performance, and innovation.
            </p>
        </div>
    </div>
</div>

<div class="container text-image-section-1">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12">
            <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;Who Are We</p>
            <p class="neutral-600 fw-bold typo-heading-4 mb-0">Leading Geosynthetic Supplier in Australia</p>
            <p class="neutral-500 typo-body-1 mt-3 lh-base mb-0">At Infratex, we specialize in providing state-of-the-art geosynthetic solutions to meet the ever-evolving
                demands of construction, environmental, and civil engineering projects. As a trusted geosynthetic
                supplier in Australia, our product line is designed to deliver durability, performance, and innovation.
            </p>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div>
                    <img src="{% static 'assets/icons/menu-search-line.svg' %}" alt="menu-search-line">
                    <p>Pushing Boundaries</p>
                    <p>Innovation drives us. Our dedicated R&D team works tirelessly to improve existing products and
                        develop new solutions. The aim? To offer you geosynthetic products that not only solve current
                        challenges but are also future-ready.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-link-section-1">
    <div class="row">
        <div class="col-lg-10 offset-lg-2 col-12 text-center">
            <p>Embrace Your Journey to Success with Action</p>
            <p>Your Journey to Success Begins Here: Take the Next Step towards Achieving Your Goals</p>
            <a role="button" href="#" class="primary-btn">Get Enquiry</a>
        </div>
    </div>
</div>

{% endblock %}