{% extends "base.html" %}
{% load static %}

{% block content %}
{#    {% static 'assets/images/image3.png' %}#}
  <div class="hero-section-1 sustainability-hero">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="fw-semibold typo-body-1 mb-2 eyebrow"><span class="green-500">//</span>&nbsp; Infratex Sustaining Earth</p>
                    <p class="fw-bold typo-heading-1 headline mb-0">Sustainable Geotechnical <br/> Solutions</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-section-1 same-padding">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12">
                <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="green-500">//</span>&nbsp;Geosynthetic Sustainability</p>
                <p class="neutral-600 fw-bold typo-heading-4 mb-0">The Sustainable Advantage of Geosynthetics</p>
                <p class="neutral-500 typo-body-1 mt-3 lh-base mb-0">Geosynthetics represent a leap forward in sustainable construction and infrastructure development. Compared to traditional materials like concrete, stone, or sand, geosynthetics offer a myriad of environmental benefits that contribute to their growing preference.</p>
            </div>
        </div>
    </div>
    <div class="icon-text-card-section-1 grid-2 margin-bottom-2" style="padding: 0; background: transparent">
        <div class="container">
            <div class="default-grid">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="icon bg-green-500">
                            <img src="{% static 'assets/icons/lightbulb.svg' %}" width="40px" height="40px" alt="lightbulb">
                        </div>
                        <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Resource Efficiency</p>
                        <p class="typo-body-1 neutral-500 lh-base copy">Geosynthetics require less raw material and energy to produce than traditional options, leading to a significantly lower carbon footprint.</p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="icon bg-green-500">
                            <img src="{% static 'assets/icons/bus.svg' %}" width="40px" height="40px" alt="bus">
                        </div>
                        <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Reduced Transportation Impact</p>
                        <p class="typo-body-1 neutral-500 lh-base copy">Lightweight and compact, geosynthetics minimize the energy and emissions associated with transportation compared to heavier alternatives such as concrete.</p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="icon bg-green-500">
                            <img src="{% static 'assets/icons/battery-charge.svg' %}" width="40px" height="40px" alt="battery">
                        </div>
                        <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Longevity and Durability</p>
                        <p class="typo-body-1 neutral-500 lh-base copy">The extended service life of geosynthetics reduces the frequency of replacements, conserving resources over time.</p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="icon bg-green-500">
                            <img src="{% static 'assets/icons/plant.svg' %}" width="40px" height="40px" alt="battery">
                        </div>
                        <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Erosion Control and Land Conservation</p>
                        <p class="typo-body-1 neutral-500 lh-base copy">Geosynthetics play a crucial role in soil stabilization, reducing the need for natural resource-intensive solutions such as rock barriers or concrete walls.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="icon-text-card-section-1 margin-bottom-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2 text-center">
                    <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="green-500">//</span>&nbsp;Comparison</p>
                    <p class="neutral-600 fw-bold typo-heading-3" style="margin-bottom: 30px">Real-World Comparisons</p>
                </div>
            </div>
            <div class="default-grid">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-thumbnail">
                            <img src="{% static 'assets/images/comparison-concrete.jpg' %}"  alt="concrete">
                        </div>
                        <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Geosynthetics vs. Concrete</p>
                        <p class="typo-body-1 neutral-500 lh-base copy">
                            In applications like retaining walls or embankments, geosynthetics offer a sustainable alternative by using less material, reducing emissions from production and transport, and providing better longevity.
                        </p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-thumbnail">
                            <img src="{% static 'assets/images/comparison-stone.jpg' %}"  alt="concrete">
                        </div>
                        <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Geosynthetics vs. Stone</p>
                        <p class="typo-body-1 neutral-500 lh-base copy">
                            In drainage applications, geosynthetics can replace stone drainage layers, reducing quarrying and the associated environmental impact.
                        </p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-thumbnail">
                            <img src="{% static 'assets/images/comparison-sand.jpg' %}"  alt="concrete">
                        </div>
                        <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Geosynthetics vs. Sand</p>
                        <p class="typo-body-1 neutral-500 lh-base copy">
                            For soil stabilization, geosynthetics require less extraction and displacement of natural sand, preserving natural habitats and reducing transportation emissions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-image-section-1 margin-bottom-1">
        <div class="image-bg w-100 d-block d-lg-none">
            <img src="{% static 'assets/images/recycle.jpg' %}" class="w-100" alt="image">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-image-wrapper">
                        <div class="image-bg d-none d-lg-block">
                            <img src="{% static 'assets/images/recycle.jpg' %}" alt="image">
                        </div>
                        <div class="card">
                            <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="green-500">//</span>&nbsp; Innovation</p>
                            <p class="neutral-600 fw-bold typo-heading-4 mb-0 headline">Innovating with Recycled HDPE and HIPS</p>
                            <p class="neutral-500 typo-body-1 lh-base mb-0 copy">
                                Beyond the inherent sustainability of geosynthetics,
                                Infratex sets itself apart through our pioneering use of 100% recycled materials in our Strip Drain and Sheet Drain products.
                                This initiative exemplifies our dedication to innovation and environmental responsibility.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="icon-text-card-section-1 margin-bottom-2" style="background: transparent">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2 text-center">
                    <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="green-500">//</span>&nbsp;Comparison</p>
                    <p class="neutral-600 fw-bold typo-heading-3" style="margin-bottom: 30px">Recycled HDPE and HIPS: A Closer Look</p>
                </div>
            </div>
            <div class="default-grid">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="icon bg-green-500">
                            <img src="{% static 'assets/icons/heart.svg' %}" width="40px" height="40px"
                                 alt="heart">
                        </div>
                        <p class="neutral-500 fw-semibold eyebrow mb-0 typo-body-1">Harmony</p>
                        <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Environmental Preservation</p>
                        <p class="typo-body-1 neutral-500 lh-base copy">
                            Utilizing recycled HDPE and HIPS diverts waste from landfills and reduces the demand for virgin materials, significantly lowering our environmental footprint.
                        </p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="icon bg-green-500">
                            <img src="{% static 'assets/icons/medal.svg' %}" width="40px" height="40px"
                                 alt="medal">
                        </div>
                        <p class="neutral-500 fw-semibold eyebrow mb-0 typo-body-1">Elevate Excellence</p>
                        <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Maintaining High Standards</p>
                        <p class="typo-body-1 neutral-500 lh-base copy">
                            Despite being recycled, these materials undergo rigorous processing to ensure they meet Infratex's strict quality and performance criteria,
                            demonstrating our no-compromise approach to sustainability.
                        </p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card">
                        <div class="icon bg-green-500">
                            <img src="{% static 'assets/icons/infinity.svg' %}" width="40px" height="40px"
                                 alt="infinity">
                        </div>
                        <p class="neutral-500 fw-semibold eyebrow mb-0 typo-body-1">Sustainify</p>
                        <p class="typo-heading-7 neutral-600 fw-bold headline mb-0">Circular Economy Contribution</p>
                        <p class="typo-body-1 neutral-500 lh-base copy">
                            By incorporating recycled materials into our products,
                            Infratex not only conserves resources but also supports the circular economy, highlighting our commitment to environmental stewardship.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-image-section-3 margin-bottom-2">
        <div class="container">
            <div class="default-grid card" style="border-top: 6px solid #16B79E">
                <div class="d-flex flex-column justify-content-center content-block">
                    <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="green-500">//</span>&nbsp;Eco Innovation Hub</p>
                    <p class="neutral-600 fw-bold headline lh-sm-base">Infratex's Green Horizon</p>
                    <p class="neutral-500 typo-body-1  lh-base">
                        Looking forward, Infratex is committed to expanding our use of recycled materials, further minimizing our carbon footprint, and promoting sustainable practices throughout our supply chain.
                        We believe that through innovation and collaboration, we can achieve a more sustainable future for the construction and infrastructure sectors.
                        <br/><br/>
                        Infratex invites our clients, partners, and the broader community to join us in our journey towards reducing the environmental impact of construction, one innovative solution at a time.
                    </p>
                </div>
                <div class="d-flex justify-content-center align-items-center image-wrapper">
                    <img src="{% static 'assets/images/green-horizon.png' %}" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-link-section-1">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12 text-center px-3">
                    <p class="neutral-600 headline mb-0">Embrace Your Journey to Success with Action</p>
                    <p class="neutral-500 copy px-3">Your Journey to Success Begins Here: Take the Next Step towards Achieving Your Goals</p>
                    <a role="button" href="/contact" class="primary-btn">Get Enquiry</a>
                </div>
            </div>
        </div>
    </div>




{% endblock %}