{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-section-1 product_categories_hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="fw-semibold typo-body-1 mb-2 eyebrow"><span class="orange-600">//</span>&nbsp;Products</p>
            </div>
            <div class="col-12 col-lg-7">
                <p class="fw-bold typo-heading-1 headline mb-0">Explore Our Wide Range of High-Quality Products</p>
            </div>
        </div>
    </div>
</div>

<h1>{{ category }}</h1>

{% for product in products %}
    <div>
        <h2>{{ product.title }}</h2>
        
        {% if product.default_image %}
            <img src="{{ product.default_image.0.file.url }}" alt="{{ product.title }} image">
        {% else %}
            <img src="{% static 'default_placeholder_image.jpg' %}" alt="Default placeholder">
        {% endif %}
        
        <p>{{ product.short_description }}</p>
        <p>{{ product.code }}</p>
        <a href="{% url 'product_detail' product.id %}">View Details</a>
    </div>
{% endfor %}

{% endblock %}