{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumbs">
                <a href="/products/" class="typo-caption neutral-600 fw-medium text-decoration-none">Categories</a>
                <img src="{% static 'assets/icons/arrow-down-s-line.svg' %}" width="20px" height="20px"
                    alt="arrow-down-line">
                <a href="/products/" class="typo-caption neutral-600 fw-medium text-decoration-none">{{model_name}}</a>
                <img src="{% static 'assets/icons/arrow-down-s-line.svg' %}" width="20px" height="20px"
                    alt="arrow-down-line">
                <span class="typo-caption neutral-500 fw-medium">{{ object.title }}</span>
            </div>
        </div>
    </div>
</div>

<h1>{{ model_name }}</h1>
<h2>{{ object.title }}</h2>
<p>Product Code: {{ object.code }}</p>
<p>Short Description: {{ object.short_description }}</p>
<p>Long Description: {{ object.long_description }}</p>


{% if default_image %}
<img src="{{ default_image.file.url }}" alt="{{ object.title }}">
{% endif %}


<h3>Website Images</h3>
{% for image in website_images %}
<img src="{{ image.file.url }}" alt="{{ object.title }}" style="width: 100px;">
{% endfor %}


<h3>Applications</h3>
<ul>
    {% for app in object.applications.all %}
    <li>{{ app.name }}</li>
    {% endfor %}
</ul>

<h3>Resources</h3>
<ul>
    {% for resource in resources %}
    <li>
        <a href="{{ resource.resource_file.url }}" target="_blank">{{ resource.resource_type }} - {{
            resource.description }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}