{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-section-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="fw-semibold typo-body-1 mb-2 eyebrow"><span class="orange-600">//</span>&nbsp;{{ data.Header_title1 }}</p>
            </div>
            <div class="col-12 col-lg-8">
                <p class="fw-bold typo-heading-1 headline">{{ data.Header_title2 }}</p>
                <a href="#" class="primary-btn" role="button">Get Enquiry</a>
            </div>
        </div>
    </div>
</div>

<div class="container text-section-1 same-padding">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12">
            <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;{{ data.What_is_title1 }}</p>
            <p class="neutral-600 fw-bold typo-heading-4 mb-0">{{ data.What_is_title2 }}</p>
            <p class="neutral-500 typo-body-1 mt-3 lh-base mb-0">{{ data.What_is_text }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="default-grid text-section-2">
        <div class="content">
            <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;{{ data.Overview_title1 }}</p>
            <p class="neutral-600 fw-bold typo-heading-4 mb-0">{{ data.Overview_title2 }}</p>
            <p class="neutral-500 typo-body-1 mt-3 lh-base mb-0">{{ data.Overview_text }}</p>
        </div>
    </div>
</div>

<div class="container text-section-1 padding-1">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 text-center">
            <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;{{ data.Our_solutions_title1 }}</p>
            <p class="neutral-600 fw-bold typo-heading-3 mb-0">{{ data.Our_solutions_title2 }}</p>
        </div>
    </div>
</div>

{% for product in data.Product_applications %}
{% if forloop.counter|divisibleby:2 %}
<div class="text-image-section-1 margin-bottom-1">
{% else %}
<div class="text-image-section-1 right-content margin-bottom-1">
{% endif %}
    <div class="image-bg w-100 d-block d-lg-none">
        <img src="{% static subpath|add:'assets/images/' %}{% firstof product.image 'product_image1.png' %}" class="w-100" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-image-wrapper">
                    <div class="image-bg d-none d-lg-block">
                        <img src="{% static subpath|add:'assets/images/' %}{% firstof product.image 'product_image1.png' %}" alt="image">
                    </div>
                    <div class="card">
                        <div class="eyebrow-group">
                            {% for eyebrow in product.eyebrow %}
                            <span class="eyebrow">{{ eyebrow }}</span>
                            {% endfor %}
                        </div>
                        <p class="neutral-600 fw-bold typo-heading-4 mb-0 headline">{{ product.headline }}</p>
                        <p class="neutral-500 typo-body-1 lh-base mb-0 copy">
                            {{ product.copy }}
                        </p>
                        <div class="d-flex flex-lg-row flex-column">
                            {% for link in product.link %}
                            <a href="{{ link.url }}" class="link">
                                {{ link.label }}
                                <div class="icon">
                                    <img src="{% static 'assets/icons/arrow-right-up-line.svg' %}"
                                        alt="arrow-right-up-line">
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="text-section-3">
    <div class="container">
        <div class="default-grid">
            <div class="content">
                <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;{{ data.Why_title1 }}</p>
                <p class="neutral-600 fw-bold typo-heading-4 mb-0">{{ data.Why_title2 }}</p>
                <p class="neutral-500 typo-body-1 mt-3 lh-base mb-0">{{ data.Why_text }}</p>
            </div>
        </div>
    </div>
</div>

<div class="text-section-4">
    <div class="container">
        <div class="default-grid">
            <div class="content">
                <p class="neutral-500 fw-semibold typo-body-2 mb-2"><span class="orange-600">//</span>&nbsp;{{ data.Summary_title1 }}</p>
                <p class="neutral-600 fw-bold typo-heading-4 mb-0">{{ data.Summary_title2 }}</p>
                <p class="neutral-500 typo-body-1 mt-3 lh-base mb-0">{{ data.Summary_text }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-link-section-1">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12 text-center px-3">
                <p class="neutral-600 headline mb-0">Embrace Your Journey to Success with Action</p>
                <p class="neutral-500 copy px-3">Your Journey to Success Begins Here: Take the Next Step towards
                    Achieving Your Goals</p>
                <a role="button" href="#" class="primary-btn">Get Enquiry</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
