{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-section-1 product_categories_hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="fw-semibold typo-body-1 mb-2 eyebrow"><span class="orange-600">//</span>&nbsp;Case Studies</p>
            </div>
            <div class="col-12 col-lg-6">
                <p class="fw-bold typo-heading-1 headline mb-0">Discover How We Solve Problems</p>
            </div>
        </div>
    </div>
</div>

<div class="application-grid-section">
    <div class="container">
        <div class="default-grid application-grid">
            {% for item in studies %}
            <a href="/knowledgebase/case-studies/{{item.slug}}" role="button" class="d-inline-flex flex-column application-item casestudy-item text-decoration-none">
                <div class="application-thumbnail">
                    {% if item.thumbnail %}
                    <img src="{{ item.thumbnail }}" alt="application-thumbnail">
                    {% endif %}
                </div>
                <div class="application-content d-flex flex-column flex-fill">
                    <p class="title neutral-600 fw-bold mb-2 mb-lg-3">{{item.title}}</p>
                    <div class="d-flex align-items-center mt-auto">
                        <p class="caption typo-caption neutral-500 mb-0">{{item.caption}}</p>
                        <div class="link-arrow ms-auto">
                            <img src="{% static 'assets/icons/arrow-top-right.svg' %}" width="24px" height="24px" alt="arrow-top-right">
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="text-link-section-1">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12 text-center px-3">
                <p class="neutral-600 headline mb-0">Unlock the Potential of the Ground Beneath You</p>
                <p class="neutral-500 copy px-3">Your Premier Geosynthetics Supplier in Australia. Take the First Step Towards Innovative Ground Solutions Today.</p>
                <a role="button" href="#" class="primary-btn">Contact Us</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}