{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'styles/font.css' %}">
  <link rel="stylesheet" href="{% static 'styles/typography.css' %}">
  <link rel="stylesheet" href="{% static 'styles/color.css' %}">
  <link rel="stylesheet" href="{% static 'styles/button.css' %}">
  <link rel="stylesheet" href="{% static 'styles/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'styles/base.css' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">

  <title>{{ page_title }}</title>
</head>

<body>
  {% comment %} <div class="devGrid w-100 container"> {% endcomment %}
    <div class="default-grid h-100">
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
      <div class="col col-span-1"></div>
    </div>
  {% comment %} </div> {% endcomment %}

  <header>
    <div class="top-contact d-none d-lg-block">
      <div class="container d-flex justify-content-between align-items-center py-2">
        <p class="neutral-600 typo-caption mb-0">Leading Providers of Geosynthetics</p>
        <a href="tel:0386400958" class="text-decoration-none d-inline-flex align-items-center">
          <img src="{% static 'assets/icons/phone.svg' %}" class="me-2" alt="phone">
          <span class="neutral-600 fw-semibold typo-caption">03 8640 0958</span>
        </a>
      </div>
    </div>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="w-100 d-flex flex-column flex-lg-row">
          <div class="d-flex justify-content-between">
            <a class="navbar-brand logo p-0 d-lg-block d-none" href="/">
              <img src="{% static 'assets/logo.svg' %}" width="143px" alt="Logo">
            </a>
            <a class="navbar-brand logo d-lg-none d-block" href="/">
              <img src="{% static 'assets/logo.svg' %}" width="107px" alt="Logo">
            </a>
            <div class="d-flex align-items-center">
              <button class="d-block d-lg-none btn p-0 search-panel-toggle">
                <img src="{% static 'assets/icons/black-search.svg' %}" alt="Search">
              </button>
              <div class="v-divider d-block d-lg-none"></div>
              <button class="navbar-toggler menu-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <img src="{% static 'assets/icons/menu.svg' %}" alt="menu">
              </button>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex d-lg-none px-3 py-3 align-items-center justify-content-between">
              <p class="neutral-600 typo-bdy-2 fw-semibold mb-0">Leading Providers of Geosynthetics</p>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <img src="{% static 'assets/icons/close.svg' %}" alt="close">
              </button>
            </div>
            <ul class="navbar-nav me-lg-auto px-3 px-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle neutral-600 typo-body-2 fw-medium d-none d-lg-block" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <a class="nav-link dropdown-toggle neutral-600 typo-body-2 fw-medium d-block d-lg-none" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
                  Products
                </a>
                <div class="dropdown-menu overflow-auto" aria-labelledby="navbarDropdown">
                  <div class="d-flex d-lg-none py-1 align-items-center justify-content-between">
                    <button type="button" class="mobile-dropdown-close" aria-label="Back">
                      <img src="{% static 'assets/icons/arrow-left.svg' %}" alt="back">
                      <span class="neutral-600 typo-bdy-2 fw-semibold">Back</span>
                    </button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <img src="{% static 'assets/icons/close.svg' %}" alt="close">
                    </button>
                  </div>
                  <p class="d-block d-lg-none neutral-600 fw-semibold typo-heading-7 dropdown-menu-headline"><span
                      class="orange-500">//</span>&nbsp;Products</p>
                  <ul>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/products/geocells">
                        Geocells
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/products/geogrids">
                        Geogrids
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight"></a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/products/geotextiles">
                        Geotextiles
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/products/gcls">
                        Clay Liners
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/products/drainage-systems">
                        Drainage Systems
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle neutral-600 typo-body-2 fw-medium d-none d-lg-block" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Applications
                </a>
                <a class="nav-link dropdown-toggle neutral-600 typo-body-2 fw-medium d-block d-lg-none" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
                  Applications
                </a>
                <div class="dropdown-menu overflow-auto" aria-labelledby="navbarDropdown">
                  <div class="d-flex d-lg-none py-1 align-items-center justify-content-between">
                    <button type="button" class="mobile-dropdown-close" aria-label="Back">
                      <img src="{% static 'assets/icons/arrow-left.svg' %}" alt="back">
                      <span class="neutral-600 typo-bdy-2 fw-semibold">Back</span>
                    </button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <img src="{% static 'assets/icons/close.svg' %}" alt="close">
                    </button>
                  </div>
                  <p class="d-block d-lg-none neutral-600 fw-semibold typo-heading-7 dropdown-menu-headline"><span
                      class="orange-500">//</span>&nbsp;Applications</p>
                  <ul>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/applications/civil_construction">
                        Civil Construction
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/applications/drainage_solutions">
                        Drainage Solutions
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/applications/erosion_control">
                        Erosion Control
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/applications/gcl_lining_solutions">
                        GCL Lining Solutions
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/applications/landscaping">
                        Landscaping
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/applications/mining">
                        Mining
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/applications/rail">Rail<img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight"></a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/applications/renewables">
                        Renewables
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/applications/tunnel_drainage">
                        Tunnel Drainage
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/applications/waterways_coastal">Waterways/Coastal
                        <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="ArrowTopRight">
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle neutral-600 typo-body-2 fw-medium d-none d-lg-block" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About Us
                </a>
                <a class="nav-link dropdown-toggle neutral-600 typo-body-2 fw-medium d-block d-lg-none" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
                  About Us
                </a>
                <div class="dropdown-menu overflow-auto" aria-labelledby="navbarDropdown">
                  <div class="d-flex d-lg-none py-1 align-items-center justify-content-between">
                    <button type="button" class="mobile-dropdown-close" aria-label="Back">
                      <img src="{% static 'assets/icons/arrow-left.svg' %}" alt="back">
                      <span class="neutral-600 typo-bdy-2 fw-semibold">Back</span>
                    </button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <img src="{% static 'assets/icons/close.svg' %}" alt="close">
                    </button>
                  </div>
                  <p class="d-block d-lg-none neutral-600 fw-semibold typo-heading-7 dropdown-menu-headline"><span
                      class="orange-500">//</span>&nbsp;About Us</p>
                  <ul>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/aboutus">About Us<img src="{% static 'assets/icons/arrow-top-right.svg' %}"
                          alt="ArrowTopRight"></a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/capabilities">Capabilities Statement<img src="{% static 'assets/icons/arrow-top-right.svg' %}"
                          alt="ArrowTopRight"></a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle neutral-600 typo-body-2 fw-medium d-none d-lg-block" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Resources
                </a>
                <a class="nav-link dropdown-toggle neutral-600 typo-body-2 fw-medium d-block d-lg-none" href="#"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
                  Resources
                </a>
                <div class="dropdown-menu overflow-auto" aria-labelledby="navbarDropdown">
                  <div class="d-flex d-lg-none py-1 align-items-center justify-content-between">
                    <button type="button" class="mobile-dropdown-close" aria-label="Back">
                      <img src="{% static 'assets/icons/arrow-left.svg' %}" alt="back">
                      <span class="neutral-600 typo-bdy-2 fw-semibold">Back</span>
                    </button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                      <img src="{% static 'assets/icons/close.svg' %}" alt="close">
                    </button>
                  </div>
                  <p class="d-block d-lg-none neutral-600 fw-semibold typo-heading-7 dropdown-menu-headline"><span
                      class="orange-500">//</span>&nbsp;Resources</p>
                  <ul>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/knowledgebase/case-studies/">Case Studies<img src="{% static 'assets/icons/arrow-top-right.svg' %}"
                          alt="ArrowTopRight"></a>
                    </li>
                    <li>
                      <a class="dropdown-item neutral-600 typo-body-2 fw-semibold d-inline-flex align-items-center justify-content-between"
                        href="/knowledgebase/technical-guides/">Technical Guides<img src="{% static 'assets/icons/arrow-top-right.svg' %}"
                          alt="ArrowTopRight"></a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <div class="d-flex align-items-center px-3 px-lg-0 nav-actions">
              <button type="button" class="d-none d-lg-block btn p-0 search-panel-toggle">
                <img src="{% static 'assets/icons/search.svg' %}" alt="Search">
              </button>
              <div class="v-divider d-none d-lg-block"></div>
              <a href="/products/contact" class="secondary-btn" role="button">Get Enquiry</a>
            </div>
            <div class="px-3 px-lg-0 mb-4 mt-auto d-block d-lg-none">
              <a href="tel:0386400958" class="text-decoration-none d-inline-flex align-items-center">
                <img src="{% static 'assets/icons/phone.svg' %}" width="32px" height="32px" class="me-2" alt="phone">
                <span class="neutral-600 fw-semibold typo-heading-6">03 8640 0958</span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="search-panel w-100">
      <div class="container">
        <div class="row searh-panel-content position-relative">
          <button type="button" class="btn p-0 search-panel-close">
            <img src="{% static 'assets/icons/close.svg' %}" width="24px" height="24px" alt="Close">
          </button>
          <div class="col-12 col-lg-8 offset-lg-2">
            <div class="search-input d-flex align-items-center mb-4">
              <img src="{% static 'assets/icons/black-search.svg' %}" alt="search">
              <input type="text" class="neutral-600" placeholder="Search Anything..." />
              <img src="{% static 'assets/icons/arrow-top-right.svg' %}" alt="arrow">
            </div>
            <p class="fw-semibold neutral-600 mt-4 mb-0 typo-caption-2">Most Popular</p>
            <div class="chip-wrapper">
              <button type="button" class="btn neutral-600 typo-bdy-1 fw-medium chip">Geogrids</button>
              <button type="button" class="btn neutral-600 typo-bdy-1 fw-medium chip">Geocells</button>
              <button type="button" class="btn neutral-600 typo-bdy-1 fw-medium chip">Clay liners</button>
              <button type="button" class="btn neutral-600 typo-bdy-1 fw-medium chip">Geotextiles</button>
              <button type="button" class="btn neutral-600 typo-bdy-1 fw-medium chip">Drainage Systems</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    {% block content %} {% endblock %}
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 footer-logo-block">
          <img src="{% static 'assets/logo.svg' %}" alt="logo" width="125px">
          <p class="neutral-500 footer-logo-headline fw-medium mt-2 mb-0">Leading Providers of Geosynthetics<br/>Supplier In Australia</p>
        </div>
        <div class="col-12 col-lg-9 footer-link-group-wrapper">
          <div class="footer-link-group">
            <div class="footer-link-group-content">
              <a href="/applications">
                <p class="neutral-600 fw-semibold footer-link-group--headline">Applications</p>
              </a>
              <ul class="ps-0">
                <li><a href="/applications/civil_construction" class="text-decoration-none">Civil Construction</a></li>
                <li><a href="/applications/drainage_solutions" class="text-decoration-none">Drainage Solutions</a></li>
                <li><a href="/applications/erosion_control" class="text-decoration-none">Erosion Control</a></li>
                <li><a href="/applications/gcl_lining_solutions" class="text-decoration-none">GCL Lining Solutions</a></li>
                <li><a href="/applications/landscaping" class="text-decoration-none">Landscaping</a></li>
                <li><a href="/applications/mining" class="text-decoration-none">Mining</a></li>
                <li><a href="/applications/rail" class="text-decoration-none">Rail</a></li>
                <li><a href="/applications/renewables" class="text-decoration-none">Renewable</a></li>
                <li><a href="/applications/tunnel_drainage" class="text-decoration-none">Tunnel Drainage</a></li>
                <li><a href="/applications/waterways_coastal" class="text-decoration-none">Waterways/Coastal</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-link-group">
            <div class="footer-link-group-content">
              <a href="/products">
                <p class="neutral-600 fw-semibold footer-link-group--headline">Products</p>
              </a>
              <ul class="ps-0">
                <li><a href="/products/drainage-systems" class="text-decoration-none">Drainage Systems</a></li>
                <li><a href="/products/geocells" class="text-decoration-none">Geocells</a></li>
                <li><a href="/products/geogrids" class="text-decoration-none">Geogrids</a></li>
                <li><a href="/products/geotextiles" class="text-decoration-none">Geotextiles</a></li>
                <li><a href="/products/gcls" class="text-decoration-none">Lining Systems</a></li>
              </ul>
              <p class="neutral-600 fw-semibold footer-link-group--headline d-block d-lg-none">Resources</p>
              <ul class="ps-0 d-block d-lg-none">
                <li><a href="/knowledgebase/technical-guides/" class="text-decoration-none">Technical Guides</a></li>
                <li><a href="/knowledgebase/case-studies/" class="text-decoration-none">Case Studies</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-link-group">
            <div class="footer-link-group-content">
              <p class="neutral-600 fw-semibold footer-link-group--headline">About Us</p>
              <ul class="ps-0">
                <li><a href="/aboutus" class="text-decoration-none">About</a></li>
                <li><a href="/capabilities" class="text-decoration-none">Capabilities Statement</a></li>
              </ul>
              <p class="neutral-600 fw-semibold footer-link-group--headline d-none d-lg-block">Resources</p>
              <ul class="ps-0 d-none d-lg-block">
                <li><a href="#" class="text-decoration-none">Technical Guides</a></li>
                <li><a href="#" class="text-decoration-none">Case Studies</a></li>
              </ul>
            </div>
          </div>
          <div class="d-block d-lg-none"></div>
          <div class="footer-link-group">
            <div class="footer-link-group-content">
              <a href="/contactus">
                <p class="neutral-600 fw-semibold footer-link-group--headline">Contact Us</p>
              </a>
              <a href="tel:0386400958" class="text-decoration-none d-inline-flex align-items-center">
                <img src="{% static 'assets/icons/phone.svg' %}" class="me-2" alt="phone">
                <span class="neutral-600 fw-semibold typo-caption">03 8640 0958</span>
              </a>
              <div class="footer-social-link-group mt-4">
                <a href="#">
                  <img src="{% static 'assets/icons/facebook.svg' %}" alt="facebook">
                </a>
                <a href="#">
                  <img src="{% static 'assets/icons/tabler.svg' %}" alt="tabler">
                </a>
                <a href="#">
                  <img src="{% static 'assets/icons/linkedin.svg' %}" alt="linkedin">
                </a>
                <a href="#">
                  <img src="{% static 'assets/icons/instagram.svg' %}" alt="instagram">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center footer-copyright">
            <p class="neutral-500 mb-0">© 2023 Infratex All Rights Reserved</p>
            <div class="d-flex align-items-center footer-copyright-links">
              <a href="#" class="text-decoration-none neutral-500">Terms of Services</a>
              <span class="neutral-500">&#8226;</span>
              <a href="#" class="text-decoration-none neutral-500">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="{% static 'scripts/base.js' %}"></script>

</body>

</html>