/* header */
.top-contact {
    border-bottom: 1px solid #EBEBEB;
}

header .logo.navbar-brand {
    margin-right: 4px;
}

header .navbar {
    padding-top: 14px;
    padding-bottom: 14px;
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus {
    color: #FF6700!important;
    background: none;
}

.navbar-nav .dropdown-menu .dropdown-item {
    padding: 8px 0;
}

.navbar-nav .dropdown-menu {
    min-width: 276px;
    border: none;
}

header .v-divider {
    height: 25px;
    margin: 0 12px;
}

.search-panel {
    height: auto;
    max-height: 0;
    transition: max-height ease .5s;
    overflow: hidden;
    position: absolute;
    background: #F9F9F9;
}

.search-panel.show {
    max-height: 500px;
    transition: max-height ease .5s;
    overflow: auto;
}

.search-panel .searh-panel-content {
    padding: 28px 0 36px;
}

.search-panel .search-input {
    border-bottom: 1px solid #EBEBEB;
}

.search-panel .search-input input {
    appearance: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    padding: 12px;
}

.search-panel .search-input input::placeholder {
    color: #646464;
}

.search-panel .chip-wrapper {
    margin-top: 16px;
}

.search-panel-close {
    position: absolute;
    right: 10px;
    top: 20px;
    width: fit-content;
}

@media (max-width: 991px) {
    header .navbar {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    header .dropdown-toggle::after {
        background-image: url('../assets/icons/arrow-right.svg');
        width: 32px;
        height: 32px;
    }

    header .dropdown-toggle:hover::after {
        content: none;
    }

    header .nav-link.dropdown-toggle,
    header .dropdown-menu .dropdown-item {
        font-size: 24px;
        line-height: 29px;
        padding: 18px 0!important;
        border-bottom: 1px solid #EBEBEB;
    }

    header .nav-link.dropdown-toggle::after {
        top: 17px;
    }

    header .navbar-nav .dropdown-menu.show {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .search-panel .search-input input {
        font-size: 20px;
    }
    
    .search-panel .searh-panel-content {
        padding-top: 56px;
        padding-bottom: 76px;
    }
}

/* footer */
.footer-link-group-wrapper {
    padding-top: 100px;
    padding-bottom: 26px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-link-group {
    display: flex;
    justify-content: flex-end;
}

.footer-logo-block {
    padding-top: 112px;
}

.footer-link-group ul {
    list-style-type: none;
    margin-bottom: 34px;
}

.footer-link-group li {
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer-link-group--headline {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 9px;
}

.footer-logo-headline {
    font-size: 16px;
    line-height: 150%;
}

.footer-link-group a {
    color: #646464;
    font-size: 16px;
    line-height: 20px;
}

.footer-link-group a:hover {
    color: #FA6400;
}

.footer-social-link-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 12px;
}

.footer-copyright {
    border-top: 1px solid #EBEBEB;
    font-size: 14px;
    line-height: 17px;
    padding-top: 12px;
    padding-bottom: 20px;
}

.footer-copyright .footer-copyright-links span {
    margin: 0 12px;
}

@media (max-width: 991px) {
    .footer-logo-block {
        padding-top: 62px;
    }

    .footer-link-group-wrapper {
        padding-top: 32px;
        padding-bottom: 24px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .footer-link-group {
        justify-content: flex-start;
    }
}

@media (max-width: 600px) {
    .footer-link-group-wrapper {
        column-gap: 0;
    }

    .footer-copyright {
        flex-direction: column;
        padding-top: 16px;
    }
    
    .footer-copyright .footer-copyright-links {
        margin-top: 16px;
    }
}

/* content sections */

/* text-section-1 */
.text-section-1 {
    padding-top: 40px;
    padding-bottom: 75px;
}

@media (min-width: 992px) {
    .text-section-1 {
        padding-top: 100px;
        padding-bottom: 60px;
    }
}

/* text-link-section-1 */
.text-link-section-1 {
    padding-top: 40px;
    padding-bottom: 75px;
}

@media (min-width: 992px) {
    .text-link-section-1 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/* text-image-section-1 */
.text-image-section-1 {
    position: relative;
}

.text-image-section-1 .image-bg {
    border-radius: 4px;
    overflow: hidden;
}

.text-image-section-1 .headline {
    line-height: 150%;
}

.text-image-section-1 .copy {
    margin-top: 12px;
}

.text-image-section-1 .card {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(47, 56, 104, 0.10), 0px 11px 60px 0px rgba(42, 51, 102, 0.06);
    padding: 20px 16px 40px;
    border: none;
    margin-top: -59px;
    min-height: 444px;
}

@media (min-width: 992px) {
    .text-image-section-1 {
        position: unset;
    }

    .text-image-section-1 .text-image-wrapper {
        position: relative;
        padding: 48px 0;
    }

    .text-image-section-1 .image-bg {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .text-image-section-1.right-content .image-bg {
        left: 0;
        right: unset;
    }

    .text-image-section-1 .image-bg img {
        height: 100%;
    }

    .text-image-section-1 .card {
        width: 52.5%;
        margin-top: 0;
        padding: 60px 40px 98px;
    }

    .text-image-section-1.right-content .card {
        margin-left: auto;
    }

    .text-image-section-1 .headline {
        line-height: 125%;
    }

    .text-image-section-1 .copy {
        margin-top: 16px;
    }
}

/* icon-text-card-section-1 */
.icon-text-card-section-1 {
    padding: 48px 0;
    background: #F9F9F9;
}

.icon-text-card-section-1 .card-wrapper {
    padding: 12px 0;
    grid-column: 1 / -1;
}

.icon-text-card-section-1 .icon {
    background-color: #FA6400;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.icon-text-card-section-1 .card {
    padding: 20px 20px 40px;
    border-radius: 6px;
    border: none;
    background: #FFF;
    box-shadow: 0px 1px 8px 0px rgba(47, 56, 104, 0.10), 0px 11px 114px 0px rgba(42, 51, 102, 0.06);
}

.icon-text-card-section-1 .headline {
    margin-bottom: 12px;
    margin-top: 24px;
}

@media (min-width: 992px) {
    .icon-text-card-section-1 .card {
        height: 100%;
    }

    .icon-text-card-section-1 {
        padding: 88px 0;
        background: #F9F9F9;
    }

    .icon-text-card-section-1 .card-wrapper {
        grid-column: span 4 / span 4;
    }
}
